<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>Er du der ikke?</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="./assets/app.css"/>
    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
  </head>

  <body flex layout="column" ng-controller="AuthenticationController">
    <div ng-cloak>
        <md-content ng-hide="auth" layout="row" layout-align="end center">
            <md-select ng-model="authProvider" ng-init="authProvider=''" style="margin-top:0px;margin-right:20px" ng-change="logIn(authProvider)">
                <md-option value="">LOG IN</md-option>
                <md-option value="google">Google</md-option>
                <md-option value="facebook">Facebook</md-option>
            </md-select>
        </md-content>
        <md-content class="md-padding" ng-show="auth" layout="row" layout-align="end center">
            <img ng-src="{{auth.picture}}" alt="picture" style="width:32px" />&nbsp;{{auth.displayName}}
            &nbsp;<md-button class="md-raised" ng-href="#/settings">Settings</md-button>
            &nbsp;<md-button class="md-raised" ng-click="logOut();">Log out</md-button>
        </md-content>
    </div>

    <div flex ng-cloak>
        <div ng-view></div>
    </div>

    <div layout-padding layout="row" layout-align="space-between center" hide-sm>
        <div>Pure clientside proof-of-concept: <a href="https://angularjs.org/">angularjs</a>+<a href="https://www.firebase.com/docs/web/libraries/angular/index.html">angularfire</a><a href="https://www.firebase.com/docs/">(firebase)</a>+<a href="https://material.angularjs.org">materialdesign</a></div>
        <div><a href="https://bitbucket.org/Hojou/er-du-der-ikke">Source: https://bitbucket.org/Hojou/er-du-der-ikke</a></div>
    </div>

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script type="text/javascript" src="./src/app.js"></script>
    <script type="text/javascript" src="./src/directives/enter-click.js"></script>
    <script type="text/javascript" src="./src/directives/confirm-click.js"></script>
    <script type="text/javascript" src="./src/filters/assignedFilter.js"></script>
    <script type="text/javascript" src="./src/services/firebaseservice.js"></script>
    <script type="text/javascript" src="./src/services/authenticationservice.js"></script>
    <script type="text/javascript" src="./src/services/dataservice.js"></script>
    <script type="text/javascript" src="./src/controllers/authenticationcontroller.js"></script>
    <script type="text/javascript" src="./src/controllers/persongridcontroller.js"></script>
    <script type="text/javascript" src="./src/controllers/settingscontroller.js"></script>

  </body>
</html>
