<div>
  <table class="employee-dates">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th ng-repeat="date in dates | orderBy: 'date'"><a confirm-click="Vil du slette {{date.txt}}?" ng-click="removeDate(date)">&#8999;</a><br />{{date.txt}}</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees">
        <th scope="row" ng-init="mode={edit:false}">
          <a ng-hide="employee.assigned" ng-hide="mode.edit" confirm-click="Vil du slette {{employee.name}}?" ng-click="removeEmployee(employee);">&#8999;</a>          
          <a ng-hide="mode.edit" ng-click="mode.edit=true&&!employee.assigned;mode.name=employee.name">{{employee.name}}</a>
          <span ng-show="mode.edit"><input type="text" ng-model="employee.name" enter-click="changeEmployeeName(employee);mode.edit=false;"/>
          <a ng-click="employee.name=mode.name;mode.edit=false">X</a></span>
        </th>
        <td ng-repeat="date in dates"><md-checkbox ng-disabled="employee.privateBooking && employee.assigned != auth.uid" ng-model="cb.state" aria-label="{{employee.name + ' ' + date.txt}}" ng-change="saveState(employee, date, cb.state)" ng-init="cb = getState(employee, date);" ></md-checkbox></td>
      </tr>
      <tr>
        <th scope="row">Hvor mange</th>
        <td ng-repeat="date in dates | orderBy: 'date'">&nbsp;<span style="align:center">{{employees.length - date.employees.length + 1}}</span></td>
      </tr>
    </tbody>
  </table>

  <div layout="row" layout-align="space-between end">
    <md-input-container flex layout-margin>
      <label>Ny person</label>
      <input type="text" ng-model="person.name" enter-click="addEmployee(person);">
    </md-input-container>        
    <md-input-container layout-margin>
      <md-button ng-click="showHelp('user');">&#63;<md-tooltip>Tryk for vejledning</md-tooltip></md-button>
    </md-input-container>
    <md-input-container layout-margin>
      <md-button class="md-raised" ng-click="addEmployee(person);">Opret</md-button>
    </md-input-container>        
    <md-input-container flex layout-margin>
      <label>Ny dato</label>
      <input type="date" ng-model="newDate" enter-click="addDate(newDate);">
    </md-input-container>        
    <md-input-container layout-margin>
      <md-button ng-click="showHelp('date');">&#63;<md-tooltip>Tryk for vejledning</md-tooltip></md-button>
    </md-input-container>
    <md-input-container layout-margin>
      <md-button class="md-raised" ng-click="addDate(newDate);">Opret</md-button>
    </md-input-container>        
  </div>
</div>