<div ng-cloak>
	<md-content md-theme="docs-dark" class="md-padding">
		<md-content layout="row" layout-align="left center" layout-margin layout-padding>
			<h3>{{model.displayName}}&nbsp; <span>administrerer</span>
			<span>'{{model.assigned.name}}'</span></h3>
		</md-content>
		
		<md-content layout="row" layout-align="left center" layout-margin layout-padding>
			<md-select ng-model="employee" style="width:300px; margin-right: 24px" ng-change="test()">
			    <md-option value="">Not set</md-option>
			    <md-option ng-value="employee" ng-repeat="employee in employees | assigned:model.uid" ng-selected="model.uid && employee.assigned == model.uid">{{employee.name}}</md-option>
			</md-select>
			<md-button ng-click="assignEmployee(employee)" class="md-raised">Tag ejerskab</md-button>
		</md-content>
	</md-content>
	
	<md-content class="md-padding">
		<md-checkbox ng-model="model.assigned.privateBooking" ng-change="saveState()" ng-show="model.assigned">Kun du må reservere?</md-checkbox>
	</md-content>
	
	<md-content class="md-padding">
		<md-button class="md-raised" ng-href="#/grid">Tilbage</button>
	</md-content>
	
</div>